
.App {
  text-align: left;
}

.App-logo {
  height: 80px;
}

.App-header {
  text-align: center;
  background-color: #fefefe;
  padding: 40px;
  text-transform: uppercase;
}

.App-header .one{
  font-size: 16px;
  margin: 0;
  padding: 20px 0px 0px 0px;
}

.App-header .two {
  font-size: 11px;
  margin: 0;
  padding: 0;
}

.App-home {
  margin: 25px;
}
.App-home h1 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 21px;
}

.App-home h5 {
  font-weight: 400;
}
.App-home p {
  font-weight: 300;
}

hr {
  border-color: #f9f9f9;
}

footer {
  text-align: center;
  margin: 45px;
  padding: 100px 0px 0px 0px;
  font-size: 12px;
}

.m-top-30{
  margin-top: 30px;
}

.separator{
  border: 1px solid #c0c0cc;
}